.header {
    background-image: url("https://i.pinimg.com/originals/d0/96/40/d096401355c0ff8334a9572dc59c5a3c.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 25px;
}

.wrapper > span:hover {
    color: #FF5522;
}
